<!-- your html code here -->
<br>
<br>

<h1 id="portfolio">Portafolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laboriosam voluptates accusantium minus eius fugit eos commodi, nostrum repellat inventore sequi id saepe quae odio hic beatae, veritatis deleniti eligendi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus, voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?
</p>
</div>
<div class="card-deck">
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus, voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus, voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?</p>

        </div>
    </div>
    <div class="card light text-dark">
        <div class="card-body text-center">
            <img class="card-img-top" src="assets/img/big-project-image.png" alt="big-project-image Card image"
                style="width:100%">
            <br>
            <br>
            <h2 class="text-left text-primary">Project Name</h2>
            <p class="text-left">Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus, voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?</p>

        </div>
    </div>

</div>
</div>