<!-- your html code here -->
<br>
    <br>
    <br>
    <br>
    <div id="about">
        <div class="row">
            <div class="col-md-9 float-right">
                <h2><a href="#" class="text-body">The first heading</a>
                    <a href="#" class="text-muted">Will catch your eye</a>
                </h2>
                <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat laboriosam
                    voluptates accusantium minus eius fugit eos commodi, nostrum repellat inventore sequi id saepe quae
                    odio hic beatae, veritatis deleniti eligendi! Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Quo eligendi labore possimus quas vitae dolor iusto accusamus amet eaque doloribus,
                    voluptatum, suscipit earum quos mollitia nulla dolore deleniti officia soluta?</p>
            </div>
            <img class="col-md-3 rounded-circle float-left"
                src="https://browser-salmon-mule-a1249a0n.ws-eu04.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                alt="img-circle">
        </div>